body {
  font-family: sans-serif;
  text-align: center;
}

table, th, td {
  border: 1px solid black;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

th, td {
  border: 1px solid #ccc;
  width: 40px;
  height: 40px;
}

th {
  background: lightblue;
}

.display {
  border: 1px solid black;
  margin: 20px auto;
  border-collapse: collapse;
}

.notMonth {
  background-color: lightgray;
}
