body {

font-family:
"メイリオ",
sans-serif;

padding:20px;

}


input,
textarea {

width:100%;

margin-bottom:10px;

font-size:16px;

}


button {

width:100%;

padding:12px;

margin-top:10px;

font-size:18px;

}


table {

width:100%;

border-collapse:collapse;

}


td,
th {

border:1px solid #999;

padding:5px;

}