body {
  background-image: url("../img/chacha_1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  font-family: sans-serif;
  text-align: center;
}

table, th, td {
  border: 1px solid #8a8a8a;
}

table {
  margin: 20px auto;
  border-collapse: collapse;
}

td {
  font-size: 12px;
  text-align: right;
  vertical-align: top;
  width: 60px;
  height: 80px;
}

th {
  background: lightblue;
}

.display {
  border: 1px solid black;
  margin: 20px auto;
  border-collapse: collapse;
}

.notMonth {
  background-color: lightgray;
  color:#807e7e
}

.today {
  background-color: rgb(255, 222, 34);
}

.holiday{
  background-color: rgb(254, 211, 255);
  color:#807e80
}

.holidayName {
  font-size: 10px;
  color: red;
  background-color: rgb(168, 215, 253);
  text-align: center;
  border-radius: 15px;       /* 角の丸み */
  box-shadow: 0 2px 5px rgba(0,0,0,0.3); /* 影 */
  padding: 1px; 
  position: relative;
  z-index: 1;
}

.cell-link {
  display: block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: inherit;
  position: relative;
  z-index: 2;
}


